In [8]:
import pandas as pd
import numpy as np
data1 = pd.read_excel(r'C:\Users\Doris\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.xlsx')

In [9]:
data1.groupby(['Y2014']).sum() #to get the sum of the column Y2014

,Area Code,Item Code,Element Code,Y2015,Y2016,Y2017,Y2018
Y2014,,,,,,,
-1796.0,159,2657,5072,-73.0,-12.0,0.0,0.0
-1631.0,159,2924,5072,6.0,-77.0,-689.0,5.0
-849.0,266,5444,10340,-1118.0,-1119.0,-1200.0,-1196.0
-838.0,184,2907,5072,-827.0,-679.0,-538.0,-567.0
-685.0,143,2905,5072,3418.0,-3225.0,689.0,399.0
...,...,...,...,...,...,...,...
90425.0,59,2501,511,92443.0,94447.0,96443.0,98424.0
98094.0,238,2501,511,100835.0,103603.0,106400.0,109224.0
108756.0,159,2907,5301,110798.0,116483.0,112625.0,117038.0
109593.0,159,2907,5511,111663.0,119330.0,117702.0,118172.0
176405.0,159,2501,511,181137.0,185960.0,190873.0,195875.0

In [12]:
#to get the sum of  Y2017
data1.groupby(['Y2017']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2018
Y2017,,,,,,,
-1582.0,118,5445,10144,5462.0,94.0,-1970.0,-4312.0
-1200.0,144,2532,5072,0.0,0.0,915.0,-1445.0
-1159.0,144,2907,5072,-219.0,-3.0,915.0,-1442.0
-865.0,215,2913,5072,2308.0,2505.0,-195.0,-14.0
-860.0,215,2556,5072,480.0,572.0,-212.0,-61.0
...,...,...,...,...,...,...,...
96443.0,59,2501,511,90425.0,92443.0,94447.0,98424.0
106400.0,238,2501,511,98094.0,100835.0,103603.0,109224.0
112625.0,159,2907,5301,108756.0,110798.0,116483.0,117038.0
117702.0,159,2907,5511,109593.0,111663.0,119330.0,118172.0
190873.0,159,2501,511,176405.0,181137.0,185960.0,195875.0

In [22]:
#Qs 12: mean and standard deviation to 3 decimal places
data1.groupby(['Y2015']).min()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2016,Y2017,Y2018
Y2015,,,,,,,,,,,
-3161.0,202,South Africa,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,439.0,-1499.0,2665.0,-296.0
-2152.0,202,South Africa,2514,Maize and products,5072,Stock Variation,1000 tonnes,626.0,-1324.0,2555.0,-597.0
-1284.0,276,Sudan,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,4569.0,3266.0,-607.0,1898.0
-907.0,251,Zambia,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,520.0,-506.0,532.0,-529.0
-887.0,276,Sudan,2518,Sorghum and products,5072,Stock Variation,1000 tonnes,3134.0,2432.0,-819.0,163.0
...,...,...,...,...,...,...,...,...,...,...,...
92443.0,59,Egypt,2501,Population,511,Total Population - Both sexes,1000 persons,90425.0,94447.0,96443.0,98424.0
100835.0,238,Ethiopia,2501,Population,511,Total Population - Both sexes,1000 persons,98094.0,103603.0,106400.0,109224.0
110798.0,159,Nigeria,2907,Starchy Roots,5301,Domestic supply quantity,1000 tonnes,108756.0,116483.0,112625.0,117038.0
111663.0,159,Nigeria,2907,Starchy Roots,5511,Production,1000 tonnes,109593.0,119330.0,117702.0,118172.0
181137.0,159,Nigeria,2501,Population,511,Total Population - Both sexes,1000 persons,176405.0,185960.0,190873.0,195875.0

In [16]:
# QS 13: What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [17]:
#Qs 14: Which year had the highest correlation with â€˜Element Codeâ€™? Answer is Y2017
data1.groupby("Element Code").max()

,Area Code,Area,Item Code,Item,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,,,,,,,,,,,
511,276,Zimbabwe,2501,Population,Total Population - Both sexes,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
645,276,Zimbabwe,2961,Yams,Food supply quantity (kg/capita/yr),kg,428.27,418.21,419.48,433.38,443.56
664,276,Zimbabwe,2961,Yams,Food supply (kcal/capita/day),kcal/capita/day,3435.00,3454.00,3451.00,3457.00,3450.00
674,276,Zimbabwe,2961,Yams,Protein supply quantity (g/capita/day),g/capita/day,100.34,100.33,100.94,100.10,101.08
684,276,Zimbabwe,2961,Yams,Fat supply quantity (g/capita/day),g/capita/day,93.73,96.79,94.33,97.13,94.94
5072,276,Zimbabwe,2961,Yams,Stock Variation,1000 tonnes,4569.00,3418.00,3266.00,5089.00,2226.00
5123,276,Zimbabwe,2949,Yams,Losses,1000 tonnes,9807.00,9999.00,10432.00,10342.00,10355.00
5131,276,Zimbabwe,2948,Wine,Processing,1000 tonnes,18383.00,21609.00,21739.00,22174.00,22609.00
5142,276,Zimbabwe,2961,Yams,Food,1000 tonnes,49014.00,50705.00,52612.00,51220.00,54077.00
5154,276,Zimbabwe,2961,Yams,Other uses (non-food),1000 tonnes,12552.00,6001.00,6099.00,17219.00,17221.00
5170,276,Zimbabwe,2949,Yams,Residuals,1000 tonnes,16697.00,16136.00,18077.00,17476.00,17323.00
5171,193,Sao Tome and Principe,2949,Yams,Tourist consumption,1000 tonnes,62.00,48.00,6.00,6.00,6.00
5301,276,Zimbabwe,2961,Yams,Domestic supply quantity,1000 tonnes,108756.00,110798.00,116483.00,112625.00,117038.00
5511,276,Zimbabwe,2961,Yams,Production,1000 tonnes,109593.00,111663.00,119330.00,117702.00,118172.00
5521,276,Zimbabwe,2960,Yams,Feed,1000 tonnes,29797.00,30472.00,31607.00,29580.00,31567.00
5527,276,Zimbabwe,2960,Yams,Seed,1000 tonnes,1258.00,1352.00,1402.00,1453.00,1474.00
5611,276,Zimbabwe,2961,Yams,Import Quantity,1000 tonnes,19582.00,18824.00,19858.00,18627.00,18036.00
5911,276,Zimbabwe,2961,Yams,Export Quantity,1000 tonnes,39686.00,52578.00,35420.00,34641.00,34641.00

In [18]:
# Qs 15:What year has the highest sum of Import Quantity Answer is Y2016
data1.groupby("Element").max()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,276,Zimbabwe,2961,Yams,5301,1000 tonnes,108756.00,110798.00,116483.00,112625.00,117038.00
Export Quantity,276,Zimbabwe,2961,Yams,5911,1000 tonnes,39686.00,52578.00,35420.00,34641.00,34641.00
Fat supply quantity (g/capita/day),276,Zimbabwe,2961,Yams,684,g/capita/day,93.73,96.79,94.33,97.13,94.94
Feed,276,Zimbabwe,2960,Yams,5521,1000 tonnes,29797.00,30472.00,31607.00,29580.00,31567.00
Food,276,Zimbabwe,2961,Yams,5142,1000 tonnes,49014.00,50705.00,52612.00,51220.00,54077.00
Food supply (kcal/capita/day),276,Zimbabwe,2961,Yams,664,kcal/capita/day,3435.00,3454.00,3451.00,3457.00,3450.00
Food supply quantity (kg/capita/yr),276,Zimbabwe,2961,Yams,645,kg,428.27,418.21,419.48,433.38,443.56
Import Quantity,276,Zimbabwe,2961,Yams,5611,1000 tonnes,19582.00,18824.00,19858.00,18627.00,18036.00
Losses,276,Zimbabwe,2949,Yams,5123,1000 tonnes,9807.00,9999.00,10432.00,10342.00,10355.00
Other uses (non-food),276,Zimbabwe,2961,Yams,5154,1000 tonnes,12552.00,6001.00,6099.00,17219.00,17221.00
Processing,276,Zimbabwe,2948,Wine,5131,1000 tonnes,18383.00,21609.00,21739.00,22174.00,22609.00
Production,276,Zimbabwe,2961,Yams,5511,1000 tonnes,109593.00,111663.00,119330.00,117702.00,118172.00
Protein supply quantity (g/capita/day),276,Zimbabwe,2961,Yams,674,g/capita/day,100.34,100.33,100.94,100.10,101.08
Residuals,276,Zimbabwe,2949,Yams,5170,1000 tonnes,16697.00,16136.00,18077.00,17476.00,17323.00
Seed,276,Zimbabwe,2960,Yams,5527,1000 tonnes,1258.00,1352.00,1402.00,1453.00,1474.00
Stock Variation,276,Zimbabwe,2961,Yams,5072,1000 tonnes,4569.00,3418.00,3266.00,5089.00,2226.00
Total Population - Both sexes,276,Zimbabwe,2501,Population,511,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
Tourist consumption,193,Sao Tome and Principe,2949,Yams,5171,1000 tonnes,62.00,48.00,6.00,6.00,6.00

In [21]:
#Qs 16: What is the total number of the sum of Production in 2014?
data1.groupby(["Production"])(["Y2014"]).sum()

KeyError: 'Production'